DATABASE_URL=postgresql://jepc:@localhost:5432/lms_db
JWT_SECRET=global-password
PORT=4000
URL_FRONTEND=http://localhost:3000
FRONTEND_URL=http://localhost:3000
NODE_ENV=dev

# Storage Driver: "local" | "cloudinary"
STORAGE_DRIVER=local

# Cloudinary (solo si STORAGE_DRIVER=cloudinary)
CLOUDINARY_CLOUD_NAME=dlt0xvqst
CLOUDINARY_API_KEY=446867639588567
CLOUDINARY_API_SECRET=eTYX-SZZCULzL31hvxqr4jxG374
